openapi: 3.0.1
info:
  contact: {}
  description: API for managing K3s clusters across cloud providers
  title: AutoGlue API
  version: "1.0"
servers:
- url: https://autoglue.apps.nonprod.earth.onglueops.rocks/
- url: http://autoglue.apps.nonprod.earth.onglueops.rocks/
paths:
  /api/healthz:
    get:
      description: Returns 200 OK when the service is up
      operationId: HealthCheck               // operationId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/health.HealthStatus"
          description: OK
      summary: Basic health check
      tags:
      - health
  /api/v1/admin/users:
    get:
      description: Returns paginated list of users (admin only)
      operationId: AdminListUsers
      parameters:
      - description: Page number (1-based)
        in: query
        name: page
        schema:
          type: integer
      - description: Page size (max 200)
        in: query
        name: page_size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authn.ListUsersOut"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
      security:
      - BearerAuth: []
      summary: "Admin: list all users"
      tags:
      - admin
    post:
      operationId: AdminCreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authn.AdminCreateUserRequest"
        description: payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authn.userOut"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "409":
          content:
            application/json:
              schema:
                type: string
          description: conflict
      security:
      - BearerAuth: []
      summary: "Admin: create user"
      tags:
      - admin
      x-codegen-request-body-name: body
  /api/v1/admin/users/{userId}:
    delete:
      operationId: AdminDeleteUser
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "409":
          content:
            application/json:
              schema:
                type: string
          description: conflict
      security:
      - BearerAuth: []
      summary: "Admin: delete user"
      tags:
      - admin
    patch:
      operationId: AdminUpdateUser
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authn.AdminUpdateUserRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authn.userOut"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "409":
          content:
            application/json:
              schema:
                type: string
          description: conflict
      security:
      - BearerAuth: []
      summary: "Admin: update user"
      tags:
      - admin
      x-codegen-request-body-name: body
  /api/v1/annotations:
    get:
      description: "Returns annotations for the organization in X-Org-ID. Filters:\
        \ `name`, `value`, and `q` (name contains). Add `include=node_pools` to include\
        \ linked node pools."
      operationId: ListAnnotations
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Exact name
        in: query
        name: name
        schema:
          type: string
      - description: Exact value
        in: query
        name: value
        schema:
          type: string
      - description: name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/annotations.annotationResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list annotations
      security:
      - BearerAuth: []
      summary: List annotations (org scoped)
      tags:
      - annotations
    post:
      description: Creates an annotation. Optionally link to node pools.
      operationId: CreateAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/annotations.createAnnotationRequest"
        description: Annotation payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/annotations.annotationResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields / invalid node_pool_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      summary: Create annotation (org scoped)
      tags:
      - annotations
      x-codegen-request-body-name: body
  /api/v1/annotations/{id}:
    delete:
      description: Permanently deletes the annotation.
      operationId: DeleteAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      summary: Delete annotation (org scoped)
      tags:
      - annotations
    get:
      description: Returns one annotation. Add `include=node_pools` to include node
        pools.
      operationId: GetAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/annotations.annotationResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: Get annotation by ID (org scoped)
      tags:
      - annotations
    patch:
      description: Partially update annotation fields.
      operationId: UpdateAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/annotations.updateAnnotationRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/annotations.annotationResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: Update annotation (org scoped)
      tags:
      - annotations
      x-codegen-request-body-name: body
  /api/v1/annotations/{id}/node_pools:
    get:
      description: "Returns node pools attached to the annotation. Supports `q` (name\
        \ contains, case-insensitive)."
      operationId: ListNodePoolsWithAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/annotations.nodePoolBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List node pools linked to an annotation (org scoped)
      tags:
      - annotations
    post:
      description: Links the annotation to one or more node pools in the same organization.
      operationId: AddAnnotationToNodePools
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/annotations.addAnnotationToNodePool"
        description: IDs to attach
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/annotations.annotationResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json / invalid node_pool_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach annotation to node pools (org scoped)
      tags:
      - annotations
      x-codegen-request-body-name: body
  /api/v1/annotations/{id}/node_pools/{poolId}:
    delete:
      description: Unlinks the annotation from the specified node pool.
      operationId: RemoveAnnotationFromNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: poolId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach annotation from a node pool (org scoped)
      tags:
      - annotations
  /api/v1/auth/introspect:
    post:
      description: Returns whether the token is active and basic metadata
      operationId: Introspect
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: OK
      summary: Introspect a token
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/login:
    post:
      description: Authenticates a user and returns a JWT bearer token
      operationId: Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authn.LoginInput"
        description: User login input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: token
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      summary: Authenticate and return a token
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/logout:
    post:
      description: Revoke a refresh token
      operationId: Logout
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: refresh_token
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
      security:
      - BearerAuth: []
      summary: Logout user
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/logout_all:
    post:
      description: Revokes all active refresh tokens for the authenticated user
      operationId: LogoutAll
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
      security:
      - BearerAuth: []
      summary: Logout from all sessions
      tags:
      - auth
  /api/v1/auth/me:
    get:
      description: Returns the authenticated user's profile and auth context
      operationId: Me
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authn.MeResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      security:
      - BearerAuth: []
      summary: Get authenticated user info
      tags:
      - auth
  /api/v1/auth/password/change:
    post:
      description: Changes the password for the authenticated user
      operationId: ChangePassword
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: "current_password, new_password"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
      security:
      - BearerAuth: []
      summary: Change password
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/password/forgot:
    post:
      description: Sends a reset token to the user's email address
      operationId: RequestPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: email
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
      summary: Request password reset
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/password/reset:
    post:
      description: Resets the password using a valid reset token
      operationId: ConfirmPasswordReset
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: "token, new_password"
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
      summary: Confirm password reset
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/refresh:
    post:
      description: Use a refresh token to obtain a new access token
      operationId: Refresh
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: refresh_token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: new access token
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      security:
      - BearerAuth: []
      summary: Refresh access token
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/refresh/rotate:
    post:
      description: "Exchanges a valid refresh token for a new access and refresh token,\
        \ revoking the old one"
      operationId: RotateRefreshToken
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: refresh_token
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: "access_token, refresh_token"
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      security:
      - BearerAuth: []
      summary: Rotate refresh token
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/register:
    post:
      description: Registers a new user and stores credentials
      operationId: Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authn.RegisterInput"
        description: User registration input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: string
          description: created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
      summary: Register a new user
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/auth/verify:
    get:
      description: Verifies the user's email using a token (often from an emailed
        link)
      operationId: VerifyEmail
      parameters:
      - description: verification token
        in: query
        name: token
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
      summary: Verify email address
      tags:
      - auth
  /api/v1/auth/verify/resend:
    post:
      description: Sends a new email verification token if needed
      operationId: ResendVerification
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: email
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
      summary: Resend email verification
      tags:
      - auth
      x-codegen-request-body-name: body
  /api/v1/clusters:
    get:
      description: "Returns clusters for the organization in X-Org-ID. Add `include=node_pools,bastion`\
        \ to expand. Filter by `q` (name contains)."
      operationId: ListClusters
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      - description: "Optional: node_pools,bastion"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/clusters.clusterResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list clusters
      security:
      - BearerAuth: []
      summary: List clusters (org scoped)
      tags:
      - clusters
    post:
      description: "Creates a cluster and optionally links node pools and a bastion\
        \ server. If `kubeconfig` is provided, it will be encrypted per-organization\
        \ and stored securely (never returned)."
      operationId: CreateCluster
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/clusters.createClusterRequest"
        description: payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clusters.clusterResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / invalid node_pool_ids / invalid bastion_server_id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      summary: Create cluster (org scoped)
      tags:
      - clusters
      x-codegen-request-body-name: body
  /api/v1/clusters/{id}:
    delete:
      operationId: DeleteCluster
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: invalid id
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: organization required
        "500":
          content:
            '*/*':
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      summary: Delete cluster (org scoped)
      tags:
      - clusters
    get:
      description: "Returns one cluster. Add `include=node_pools,bastion` to expand."
      operationId: GetCluster
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: node_pools,bastion"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clusters.clusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: Get cluster by ID (org scoped)
      tags:
      - clusters
    patch:
      operationId: UpdateCluster
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/clusters.updateClusterRequest"
        description: payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clusters.clusterResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json / invalid bastion_server_id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: "Update cluster (org scoped). If `kubeconfig` is provided and non-empty,\
        \ it will be encrypted per-organization and stored (never returned). Sending\
        \ an empty string for `kubeconfig` is ignored (no change)."
      tags:
      - clusters
      x-codegen-request-body-name: body
  /api/v1/clusters/{id}/bastion:
    delete:
      operationId: DeleteBastion
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: invalid id
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: organization required
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: not found
        "500":
          content:
            '*/*':
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: Clear cluster bastion (org scoped)
      tags:
      - clusters
    get:
      operationId: GetBastion
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clusters.serverBrief"
          description: OK
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content (no bastion set)
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: Get cluster bastion (org scoped)
      tags:
      - clusters
    post:
      operationId: PutBastion
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/clusters.setBastionRequest"
        description: server_id with role=bastion
        required: true
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: invalid id / invalid server_id / server not bastion
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: organization required
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: cluster or server not found
        "500":
          content:
            '*/*':
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: Set/replace cluster bastion (org scoped)
      tags:
      - clusters
      x-codegen-request-body-name: body
  /api/v1/clusters/{id}/node_pools:
    get:
      operationId: ListClusterNodePools
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/clusters.nodePoolBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List node pools attached to a cluster (org scoped)
      tags:
      - clusters
    post:
      operationId: AttachNodePools
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/clusters.attachNodePoolsRequest"
        description: node_pool_ids
        required: true
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: invalid id / invalid node_pool_ids
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: organization required
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: not found
        "500":
          content:
            '*/*':
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach node pools to cluster (org scoped)
      tags:
      - clusters
      x-codegen-request-body-name: body
  /api/v1/clusters/{id}/node_pools/{poolId}:
    delete:
      operationId: DetachNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Cluster ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: poolId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: No Content
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: invalid id
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: organization required
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: not found
        "500":
          content:
            '*/*':
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach one node pool from a cluster (org scoped)
      tags:
      - clusters
  /api/v1/jobs/active:
    get:
      description: Currently running jobs (limit default 100)
      operationId: JobsGetActive
      parameters:
      - description: Max rows
        in: query
        name: limit
        schema:
          default: 100
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/jobs.JobListItem"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Active jobs
      tags:
      - jobs
  /api/v1/jobs/enqueue:
    post:
      description: Schedules a job on a queue with optional args/schedule
      operationId: JobsEnqueue
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/jobs.EnqueueReq"
        description: Enqueue request
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs.EnqueueResp"
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Manually enqueue a job
      tags:
      - jobs
      x-codegen-request-body-name: payload
  /api/v1/jobs/failures:
    get:
      description: Failed jobs ordered by most recent (limit default 100)
      operationId: JobsGetFailures
      parameters:
      - description: Max rows
        in: query
        name: limit
        schema:
          default: 100
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/jobs.JobListItem"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Recent failures
      tags:
      - jobs
  /api/v1/jobs/kpi:
    get:
      description: Aggregated counters across all queues
      operationId: JobsGetKPI
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs.KPI"
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Jobs KPI
      tags:
      - jobs
  /api/v1/jobs/queues:
    get:
      description: Counts and avg duration per queue (last 24h)
      operationId: JobsGetQueues
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/jobs.QueueRollup"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Per-queue rollups
      tags:
      - jobs
  /api/v1/jobs/{id}/cancel:
    post:
      description: Cancels running or scheduled jobs
      operationId: JobsCancel
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Cancel a job
      tags:
      - jobs
  /api/v1/jobs/{id}/retry:
    post:
      description: Calls Archer ScheduleNow on the job id
      operationId: JobsRetryNow
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: no content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Retry a job immediately
      tags:
      - jobs
  /api/v1/labels:
    get:
      description: "Returns node labels for the organization in X-Org-ID. Filters:\
        \ `key`, `value`, and `q` (key contains). Add `include=node_pools` to include\
        \ linked node groups."
      operationId: ListLabels
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Exact key
        in: query
        name: key
        schema:
          type: string
      - description: Exact value
        in: query
        name: value
        schema:
          type: string
      - description: Key contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/labels.labelResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list node taints
      security:
      - BearerAuth: []
      summary: List node labels (org scoped)
      tags:
      - labels
    post:
      description: Creates a label. Optionally link to node pools.
      operationId: CreateLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labels.createLabelRequest"
        description: Label payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/labels.labelResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields / invalid node_pool_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      summary: Create label (org scoped)
      tags:
      - labels
      x-codegen-request-body-name: body
  /api/v1/labels/{id}:
    delete:
      description: Permanently deletes the label.
      operationId: DeleteLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      summary: Delete label (org scoped)
      tags:
      - labels
    get:
      description: Returns one label. Add `include=node_pools` to include node groups.
      operationId: GetLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/labels.labelResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: Get label by ID (org scoped)
      tags:
      - labels
    patch:
      description: Partially update label fields.
      operationId: UpdateLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labels.updateLabelRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/labels.labelResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: Update label (org scoped)
      tags:
      - labels
      x-codegen-request-body-name: body
  /api/v1/labels/{id}/node_pools:
    get:
      description: "Returns node pools attached to the label. Supports `q` (name contains,\
        \ case-insensitive)."
      operationId: ListNodePoolsWithLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/labels.nodePoolBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List node pools linked to a label (org scoped)
      tags:
      - labels
    post:
      description: Links the label to one or more node pools in the same organization.
      operationId: AddLabelToNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: node_pools"
        in: query
        name: include
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labels.addLabelToPoolRequest"
        description: IDs to attach
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/labels.labelResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json / invalid node_pool_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach label to node pools (org scoped)
      tags:
      - labels
      x-codegen-request-body-name: body
  /api/v1/labels/{id}/node_pools/{poolId}:
    delete:
      description: Unlinks the label from the specified node pool.
      operationId: RemoveLabelFromNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: poolId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach label from a node pool (org scoped)
      tags:
      - labels
  /api/v1/node-pools:
    get:
      description: Returns node pools for the organization in X-Org-ID. Add `include=servers`
        to include attached servers. Filter by `q` (name contains).
      operationId: ListNodePools
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Name contains (case-insensitive)
        in: query
        name: q
        schema:
          type: string
      - description: "Optional: servers"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/nodepools.nodePoolResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list node groups
      security:
      - BearerAuth: []
      summary: List node pools (org scoped)
      tags:
      - node-pools
    post:
      description: Creates a node group. Optionally attach initial servers.
      operationId: CreateNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.createNodePoolRequest"
        description: NodeGroup payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nodepools.nodePoolResponse"
          description: Created
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid json / missing fields / invalid server_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: create failed
      security:
      - BearerAuth: []
      summary: Create node group (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}:
    delete:
      description: Permanently deletes the node pool.
      operationId: DeleteNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Group ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: delete failed
      security:
      - BearerAuth: []
      summary: Delete node pool (org scoped)
      tags:
      - node-pools
    get:
      description: Returns one node group. Add `include=servers` to include servers.
      operationId: GetNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Group ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Optional: servers"
        in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nodepools.nodePoolResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: Get node group by ID (org scoped)
      tags:
      - node-pools
    patch:
      description: Partially update node pool fields.
      operationId: UpdateNodePool
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.updateNodePoolRequest"
        description: Fields to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/nodepools.nodePoolResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid json
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: update failed
      security:
      - BearerAuth: []
      summary: Update node pool (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}/annotations:
    get:
      operationId: ListNodePoolAnnotations
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/nodepools.annotationBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List annotations attached to a node pool (org scoped)
      tags:
      - node-pools
    post:
      operationId: AttachNodePoolAnnotations
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.attachAnnotationsRequest"
        description: Annotation IDs to attach
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid annotation_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach annotations to a node pool (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}/annotations/{annotationId}:
    delete:
      operationId: DetachNodePoolAnnotation
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Annotation ID (UUID)
        in: path
        name: annotationId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach one annotation from a node pool (org scoped)
      tags:
      - node-pools
  /api/v1/node-pools/{id}/labels:
    get:
      operationId: ListNodePoolLabels
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/nodepools.labelBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List labels attached to a node pool (org scoped)
      tags:
      - node-pools
    post:
      operationId: AttachNodePoolLabels
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.attachLabelsRequest"
        description: Label IDs to attach
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid label_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach labels to a node pool (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}/labels/{labelId}:
    delete:
      operationId: DetachNodePoolLabel
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Label ID (UUID)
        in: path
        name: labelId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach one label from a node pool (org scoped)
      tags:
      - node-pools
  /api/v1/node-pools/{id}/servers:
    get:
      operationId: ListNodePoolServers
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Group ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/nodepools.serverBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List servers attached to a node pool (org scoped)
      tags:
      - node-pools
    post:
      operationId: AttachNodePoolServers
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Group ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.attachServersRequest"
        description: Server IDs to attach
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid server_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach servers to a node pool (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}/servers/{serverId}:
    delete:
      operationId: DetachNodePoolServer
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Server ID (UUID)
        in: path
        name: serverId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach one server from a node pool (org scoped)
      tags:
      - node-pools
  /api/v1/node-pools/{id}/taints:
    get:
      operationId: ListNodePoolTaints
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/nodepools.taintBrief"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: fetch failed
      security:
      - BearerAuth: []
      summary: List taints attached to a node pool (org scoped)
      tags:
      - node-pools
    post:
      operationId: AttachNodePoolTaints
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/nodepools.attachTaintsRequest"
        description: Taint IDs to attach
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id / invalid taint_ids
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: attach failed
      security:
      - BearerAuth: []
      summary: Attach taints to a node pool (org scoped)
      tags:
      - node-pools
      x-codegen-request-body-name: body
  /api/v1/node-pools/{id}/taints/{taintId}:
    delete:
      operationId: DetachNodePoolTaint
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Node Pool ID (UUID)
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Taint ID (UUID)
        in: path
        name: taintId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: No Content
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid id
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "404":
          content:
            application/json:
              schema:
                type: string
          description: not found
        "500":
          content:
            application/json:
              schema:
                type: string
          description: detach failed
      security:
      - BearerAuth: []
      summary: Detach one taint from a node pool (org scoped)
      tags:
      - node-pools
  /api/v1/orgs:
    get:
      operationId: ListOrganizations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.Organization"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      security:
      - BearerAuth: []
      summary: List organizations for user
      tags:
      - organizations
    post:
      description: Creates a new organization and assigns the authenticated user as
        an admin member
      operationId: CreateOrganization
      parameters:
      - description: Optional organization context (ignored for creation)
        in: header
        name: X-Org-ID
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/orgs.OrgInput"
        description: Organization Input
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: organization_id
        "400":
          content:
            application/json:
              schema:
                type: string
          description: invalid input
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
        "500":
          content:
            application/json:
              schema:
                type: string
          description: internal error
      security:
      - BearerAuth: []
      summary: Create a new organization
      tags:
      - organizations
      x-codegen-request-body-name: body
  /api/v1/orgs/invite:
    post:
      operationId: InviteMember
      parameters:
      - description: Organization context
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/orgs.InviteInput"
        description: Invite input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: string
          description: invited
        "400":
          content:
            application/json:
              schema:
                type: string
          description: bad request
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
      security:
      - BearerAuth: []
      summary: Invite user to organization
      tags:
      - organizations
      x-codegen-request-body-name: body
  /api/v1/orgs/members:
    get:
      description: Returns a list of all members in the current organization
      operationId: ListMembers
      parameters:
      - description: Organization context
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/models.Member"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: unauthorized
      security:
      - BearerAuth: []
      summary: List organization members
      tags:
      - organizations
  /api/v1/orgs/members/{userId}:
    delete:
      operationId: DeleteMember
      parameters:
      - description: User ID
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: deleted
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: forbidden
      security:
      - BearerAuth: []
      summary: Remove member from organization
      tags:
      - organizations
  /api/v1/orgs/{orgId}:
    delete:
      operationId: DeleteOrganization
      parameters:
      - description: Organization ID
        in: path
        name: orgId
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            '*/*':
              schema:
                type: string
          description: deleted
        "403":
          content:
            '*/*':
              schema:
                type: string
          description: forbidden
      security:
      - BearerAuth: []
      summary: Delete organization
      tags:
      - organizations
    patch:
      operationId: UpdateOrganization
      parameters:
      - description: Org ID
        in: path
        name: orgId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/orgs.OrgInput"
        description: Organization data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/models.Organization"
          description: OK
        "403":
          content:
            application/json:
              schema:
                type: string
          description: forbidden
      security:
      - BearerAuth: []
      summary: Update organization metadata
      tags:
      - organizations
      x-codegen-request-body-name: body
  /api/v1/servers:
    get:
      description: "Returns servers for the organization in X-Org-ID. Optional filters:\
        \ status, role."
      operationId: ListServers
      parameters:
      - description: Organization UUID
        in: header
        name: X-Org-ID
        required: true
        schema:
          type: string
      - description: Filter by status (pending|provisioning|ready|failed)
        in: query
        name: status
        schema:
          type: string
      - description: Filter by role
        in: query
        name: role
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/servers.serverResponse"
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                type: string
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                type: string
          description: organization required
        "500":
          content:
            application/json:
              schema:
                type: string
          description: failed to list servers
      security:
      - BearerAuth: []
      summary: List servers (org scoped)
      tags:
      - servers
    post:
      description: Creates a server bound to the org in X-Org-ID. Validates that ssh_key_id
        belongs to the org.
      operationId: CreateServer
      parameters:
[...]
