{{define "subject"}}Reset your Dragon password{{end}}

{{define "plainBody"}}
Hi {{.Name}},

We received a request to reset your password. Use the token below to continue:

Reset token:
{{.Token}}

{{if .ResetURL}}Or open this link:
{{.ResetURL}}{{end}}

If you didn’t request this, you can safely ignore this email.

Sent at: {{now}}
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reset your Dragon password</title>
  </head>
  <body>
    <p>Hi {{.Name}},</p>
    <p>We received a request to reset your password. Use the token below to continue:</p>

    <p><strong>Reset token:</strong><br/>
    <code style="font-family: monospace; font-size: 14px;">{{.Token}}</code></p>

    {{if .ResetURL}}
      <p>
        Or click here:
        <a href="{{.ResetURL}}">Reset my password</a>
      </p>
    {{end}}

    <p>If you didn’t request this, you can safely ignore this email.</p>
    <p>Sent at: {{now}}</p>
  </body>
</html>
{{end}}
